/* admin-dashboard.component.css */
.admin-dashboard {
    background-color: rgba(54, 245, 54, 0.2); /* Light green background with 20% opacity */
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
  }
  
  .header h2 {
    background-color: #bbadff; /* Light purple background */
    padding: 10px;
    border-radius: 5px;
  }
  
  .manage-users, .manage-roles {
    margin-top: 20px;
  }
  
  .user-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .user-inputs input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .user-inputs button {
    padding: 10px;
    background-color: #bbadff; /* Light purple background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-details {
    background-color: #cce6f4; /* Light blue background */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .actions .approve {
    background-color: rgba(54, 245, 54, 0.4); /* Green background with 40% opacity */
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .actions .reject {
    background-color: #ccccce; /* Light gray background */
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  