.admin-dashboard {
  background-color: rgba(54, 245, 54, 0.2);
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* gap: 5px; */
  /* padding: 5px; */
}

.header {
  width: 100%;
  display: flex;
  margin-bottom: 0;
}

.header h2 {
  width: 100%;
  background-color: #bbadff;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.manage-users {
  width: 70%;
  gap: 10px;
  background-color: #cce6f4;
  /* padding: 20px; */
  border-radius: 10px;
  margin-bottom: 20px;
}
.manage-roles{
  width: 70%;
  gap: 10px;
  background-color: #cce6f4;
  /* padding: 20px; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin-bottom: 20px; */

}
.grid{
  display: flex;
  gap: 10px;
  width: 100%;
}
.user-inputs {
  width: 100%;
  margin-bottom: 20px;
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-row label {
  margin-right: 10px;
  width: 20%;
}

.input-row input {
  width: 60%;
}

button {
  background-color: #bbadff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.user-list {
  display: grid;
  gap: 20px;
}

.user-details {
  background-color: #BBADFF;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actions {
  display: flex;
  /* justify-content: flex-end; */
  gap: 10px;
}

.actions .approve {
  background-color: rgba(54, 245, 54, 0.4);
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions .reject {
  background-color: #cce6f4;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .manage-users, .manage-roles {
    width: 100%;
  }
}
