.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: rgba(54, 245, 54, 0.1); /* Light green background with 10% opacity */
  padding: 20px;
  gap: 10px;
}

.views-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #CCE6F4; /* White background color */
  padding: 10px; /* Reduced padding for better fit */
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.profile-picture {
  border-radius: 50%;
  width: 50px; /* Adjusted width for better fit */
  height: 50px; /* Adjusted height for better fit */
}

.user-details {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px; /* Reduced font size for better fit */
  padding: 1px;
}

.user-view {
  flex: 1;
  padding: 10px;
  font-size: 0.9rem; /* Reduced font size for better fit */
}

.input-container {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
  gap: 10px;
}

label {
  font-size: 0.9rem;
  flex: 0 0 100px;
}

.view-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  padding: 10px 20px;
  background-color: rgb(13, 13, 94);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .views-box {
      flex-direction: column;
      text-align: center;
  }

  .user-info {
      margin-bottom: 10px;
  }

  .input-container {
      flex-direction: column;
      width: 100%;
  }

  label {
      flex: 0 0 auto;
      margin-bottom: 5px;
  }

  .submit-button {
      width: 100%;
      padding: 15px;
      margin-top: 10px;
  }
}
