.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(54, 245, 54, 0.2); /* Light green background with 20% opacity */
    padding: 20px;
  }
  
  .polls-container {
    width: 80%;
    max-width: 800px;
  }
  
  .polls-header {
    /* background-color: #CCE6F4; Light blue background */
    background-color:  #bbadff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .poll {
    /* background-color: #F2F2F7; Light grey background */
    background-color: #CCE6F4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .poll h2 {
    margin-bottom: 10px;
  }
  
  .poll-options {
    display: flex;
    flex-direction: column;
  }
  
  .poll-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .poll-option input {
    margin-right: 10px;
  }
  
  .progress-bar {
    height: 10px;
    border-radius: 5px;
    margin-top: 5px;
    transition: width 0.3s;
  }
  